body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;

  background-color: rgba(0, 112, 167, .35);
  color: black;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

/* HEADER */
header { text-align: center; }
header .title { font-size: 2.5em; margin-top: .5em; }
header .subtitle { font-size: 1em; margin: .1em; }

#menu {
  position: fixed;
  top: 2em;
  right: 2em;
  text-align: right;
  padding: 0 .3em .5em .3em;
  cursor: pointer;
  outline: 1px solid #000;
  background-color: #fff;
  z-index: 100;
}
#menu ul {
  opacity: 1;
  margin: .5em;
  padding: 0;
  text-align: left;
  list-style: none;
}
@media (max-width: 1120px) {
  #menu { outline: none; background-color: transparent;}
  #menu ul { opacity: 0; }
}
#menu ul > li { padding: 0 .2em .1em .2em;}
#menu ul > li a { text-decoration: none; color: #000; }

#menu:hover { outline: 1px solid #000; background-color: #fff; }
#menu:hover ul { opacity: 1; }
#menu ul > li a:hover { text-decoration: underline;}

hr {
  display: block;
  margin: 1em auto;
  margin-top: 1.5em;
  border-style: inset;
  border-width: 1px;
  width: 60%;
  border-color: rgb(188, 214, 227)
}
#menu hr { width: 100%; margin: .5em auto; border-color: #fff;}

/* CONTENT */
#content {
  width: 60%;
  min-width: 600px;
  margin: 0 auto;
  padding: .5em;
}

.ex_container {
  display: flex;
  width:100%;
  height: 20em;
  border: 1px solid #ebebeb;
  margin-bottom: 1em;
}
.ex_container .output, .code {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #fff;
}
.ex_container .output .coords {
  position: absolute;
  font-size:12px;
  color: #0070a7;
}
.ex_container .output .point {
  position: absolute;
  width: 2px;
  height: 2px;
  border:2px solid #ff2005;
  border-radius: 50%;
}
.ex_container .code { background-color: #f8f8f8; }
.ex_container .code pre { margin: 0; }

.example .notes { margin: .6em 0; }

/* FOOTER */
footer {
  padding-bottom: 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  /*background-color: #0070a7;*/
}
footer a { text-decoration: none; color: rgba(0, 0, 0, 0.8); cursor: pointer; }
footer a:hover { text-decoration: underline;}
footer .fa { color: rgba(255, 0, 0, 0.51); }
.social {
  text-align: center;
  margin: 1em;
}
.social .github-button, .social .twitter-share-button {
  vertical-align: bottom;
}
#___plusone_0 {
  vertical-align: bottom!important;
}
.social .reddit .fa { color: #7D95A4; font-size: 1.15em;}

/*****************************************************/
/* Examples */
#ex_path_2_output .table {
  display: table;
  width: 30%;
  height: 100%;
}
#ex_path_2_output .row {
  display: table-row;
  margin: .1em!important;
}
#ex_path_2_output .cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#ex_path_2_output .inner {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 2em 0em;
  border: 1px solid rgba(0, 112, 167, 0.5);
  background-color: rgba(0, 112, 167, 0.35);
}
#ex_path_2_output .inner:hover { background-color: rgba(0, 112, 167, 0.25); }